@using System.Drawing
@model Shop.Models.LeftSideBarModel

<link href='http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,latin' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Rancho&effect=ice' rel='stylesheet' type='text/css' />
<link href="~/Content/UserStyles.css" rel="stylesheet" />


<div id="cssmenu">
    <ul>
        <li><a href="@Url.Action("Index", "ShowProducts")"><span>Все категории</span></a></li>

        @foreach (var category in @Model.CategoryModel)
        {
            string sub = string.Empty;
            if (category.FirstLevelCategoies.Any())
            {
                sub = "has-sub";
            }
            <li class=@sub>
                <a href='@Url.Action("Index", "ShowProducts", new {categoryId = category.ZeroLevelModel.CategoryId})'>
                    <span>@category.ZeroLevelModel.CategoryName (@category.ProductCount)</span>
                </a>
                @if (category.FirstLevelCategoies.Any())
                {
                    <ul>

                        @foreach (var firstLevelCategory in category.FirstLevelCategoies)
                        {


                            var subClass = string.Empty;
                            if (@firstLevelCategory.SecondLevelCategories.Any())
                            {
                                subClass = "has-sub";
                            }


                            <li class=@subClass>
                                <a href='@Url.Action("Index", "ShowProducts", new {categoryId = firstLevelCategory.FirstLevelCategory.CategoryId})'>
                                    <span id="span">@firstLevelCategory.FirstLevelCategory.CategoryName (@firstLevelCategory.ProductCount)</span>
                                </a>
                                @if (firstLevelCategory.SecondLevelCategories.Any())
                                {
                                    <ul>
                                        @foreach (var secondLevelCategory in firstLevelCategory.SecondLevelCategories)
                                        {

                                            <li>
                                                <a href='@Url.Action("Index", "ShowProducts", new {categoryId = secondLevelCategory.SecondLevelCategory.CategoryId})'>
                                                    <span>@secondLevelCategory.SecondLevelCategory.CategoryName (@secondLevelCategory.ProductCount)</span>
                                                </a>
                                            </li>

                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                }
            </li>
        }


        <li class="last"><a href="#"><span>Контакты</span></a></li>
    </ul>
</div>

