<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Заголовок</title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("head", false)
</head>
<body>

    @Html.Action("Index", "Header")
@*@RenderPage("~/Views/Header/Index.cshtml")*@
<div class="content">
    @RenderPage("~/Views/LeftSidebar/Index.cshtml")
    <div class="content-inner">
        @RenderBody()
    </div>
</div>
    @*http://stackoverflow.com/questions/15628259/html-page-with-a-standard-header-footer-layout-without-using-table-tag*@
@*    @RenderPage("footer.cshtml")*@
</body>
</html>
